.welcome-mensage-cont{
    padding:2rem;
    
}

.welcome-mensage{
    background-color:rgb(211,117,22);
    padding: 2rem;
    color:white;
    font-family: 'Montserrat'; 
}

.welcome-buttom{
    padding:1rem;
}